%%-*- mode: erlang -*-
[{elvis,
   [{config, [#{dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config},
              #{dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles},
              #{dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config,
                rules => [{elvis_project, protocol_for_deps_rebar, #{regex => "(git\\+ssh://.*|https://.*|[0-9]+([.][0-9]+)*)", ignore => []}}]},
              #{dirs => ["src"],
                include_dirs => ["src", "include"],
                filter => "*.erl",
                ignore => [],
                ruleset => erl_files,
                rules => [{elvis_style, variable_naming_convention, #{regex => "^_?_?([A-Z][0-9a-zA-Z]*)$", ignore => []}},
                          {elvis_style, module_naming_convention, #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$", ignore => []}},
                          {elvis_style, function_naming_convention, #{regex => "^[a-z]([a-z0-9]*_?)*$", ignore => []}}]
               }]
    }]
}].
